aioauth-client==0.12.4
aiocontextvars==0.2.2
aiofiles==0.4.0
aiohttp==3.4.4
aioredis==1.2.0
aiosocks==0.2.6
aioutils==0.3.10
aliyun-python-sdk-cdn==3.0.1
aliyun-python-sdk-core-v3==2.9.4
aliyun-python-sdk-kms==2.5.0
amqp==2.3.2
arrow==0.12.1
asn1crypto==0.24.0
async-timeout==3.0.1
asyncio-redis==0.15.1
asyncpg==0.18.3
attrs==18.2.0
Automat==0.7.0
billiard==3.5.0.4
celery==4.2.1
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
contextvars==2.4
crcmod==1.7
cryptography==2.3.1
cssselect==1.0.3
geographiclib==1.49
geopy==1.17.0
gino==0.8.2
gunicorn==19.9.0
hiredis==0.2.0
httptools==0.0.11
hyperlink==18.0.0
idna==2.7
idna-ssl==1.1.0
immutables==0.9
incremental==17.5.0
influxdb==5.2.0
Js2Py==0.59
json2html==1.2.1
kombu==4.2.1
lxml==4.2.5
motor==2.0.0
multidict==4.4.2
numpy==1.15.3
oauthlib==2.1.0
oss2==2.5.0
pandas==0.23.4
parsel==1.5.1
pinyin==0.4.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycountry==18.5.26
pycparser==2.19
pycryptodome==3.7.0
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pyjsparser==2.5.2
PyJWT==1.6.4
pymongo==3.7.2
pyOpenSSL==18.0.0
PySocks==1.6.8
pysolr==3.8.1
python-dateutil==2.7.5
pytz==2018.7
PyYAML==3.13
queuelib==1.5.0
rarfile==3.0
redis==2.10.6
requests==2.20.0
requests-oauthlib==1.0.0
sanic==0.8.3
Sanic-Cors==0.9.7
sanic-motor==0.3.4
Sanic-Plugins-Framework==0.6.4.dev20181101
sanic-session==0.4.1
Scrapy==1.5.1
scrapy-redis==0.6.8
scrapy-splash==0.7.2
service-identity==17.0.0
simhash==1.9.0
six==1.12.0
SQLAlchemy==1.3.3
stem==1.7.0
Twisted==18.9.0
txmongo==19.1.0
tzlocal==1.5.1
ujson==1.35
urllib3==1.26.5
uvloop==0.12.0
vine==1.1.4
w3lib==1.19.0
websockets==5.0.1
xlrd==1.1.0
xlwt==1.3.0
yarl==1.2.6
zope.interface==4.6.0