<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>爬虫速率图</title>

    <!-- 引入 echarts.js -->
    <script src="http://libs.baidu.com/jquery/1.7.2/jquery.min.js"></script>
    <!-- 引入jquery.js -->
    <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.min.js"></script>

</head>

<body>

<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 1600px;height:500px;margin: 0 auto;"></div>

<script type="text/javascript">

    var myChart = echarts.init(document.getElementById('main'));

    var app = {
        xday: [],
        yvalue: []
    };

    // 发送ajax请求，从后台获取json数据
    $(document).ready(function () {
        getData();
        console.log(app.xday);
        console.log(app.yvalue)
    });

    function getData() {
        $.ajax({
            url: '/test',
            data: {},
            type: 'POST',
            async: false,
            dataType: 'json',
            success: function (data) {
                app.xday = data.xdays;
                app.yvalue = data.yvalues;
                myChart.setOption({
                    title: {
                        text: '爬虫速率图'
                    },
                    tooltip: {},
                    legend: {
                        data: ['时间']
                    },
                    xAxis: {
                        data: app.xday
                    },
                    yAxis: {},
                    series: [{
                        name: ['时间', '速度'],
                        type: 'bar',
                        data: app.yvalue
                    }]
                })
            },
            error: function (msg) {
                console.log(msg);
                alert('系统发生错误');
            }
        })
    };


    // 动态展示
    var base = +new Date(2014, 9, 3);
    var oneDay = 24 * 3600 * 1000;
    var date = [];

    var data = [Math.random() * 150];
    var now = new Date(base);

    function addData(shift) {
        now = [now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/');
        date.push(now);
        data.push((Math.random() - 0.4) * 10 + data[data.length - 1]);

        if (shift) {
            date.shift();
            data.shift();
        }

        now = new Date(+new Date(now) + oneDay);
    }

    for (var i = 1; i < 100; i++) {
        addData();
    }

    option = {
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: date
        },
        yAxis: {
            boundaryGap: [0, '50%'],
            type: 'value'
        },
        series: [
            {
                name: '成交',
                type: 'line',
                smooth: true,
                symbol: 'none',
                stack: 'a',
                areaStyle: {
                    normal: {}
                },
                data: data
            }
        ]
    };

    setInterval(function () {
        addData(true);
        myChart.setOption({
            xAxis: {
                data: app.xday
            },
            series: [{
                name: '抓取速度',
                data: app.yvalue
            }]
        });
    }, 500);

</script>
</body>
</html>