<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="no-transform" http-equiv="Cache-Control"/>
    <meta content="no-siteapp" http-equiv="Cache-Control"/>
    <script type="text/javascript">
        (function () {
            var reWriteUrl = function (url) {
                if (url) {
                    var Splits = url.split("/"), siteName = window.location.pathname;
                    if (typeof siteName !== "undefined") {
                        return "https://m.ubaike.cn" + siteName
                    }
                }
            };
            if (/Android|webOS|iPhone|iPad|Windows Phone|iPod|BlackBerry|SymbianOS|Nokia|Mobile/i.test(navigator.userAgent)) {
                var url = window.location.href;
                var pathname = window.location.pathname;
                if (url.indexOf("?pc") < 0) {
                    try {
                        window.location.href = reWriteUrl(url)
                    } catch (e) {
                    }
                }
            }
        })();
    </script>
    <title>上饶市通暖企业管理有限公司_工商注册信息_红盾查询网</title>
    <meta name="keywords"
          content="上饶市通暖企业管理有限公司,营业执照,工商信息,注册信息,信用信息,公示查询,信用报告,联系方式,统一社会信用代码,股东,注册号,注册地址,法人代表,经营范围,企业类型,注册资本,成立时间"/>
    <meta name="description"
          content="红盾查询网提供上饶市通暖企业管理有限公司工商注册信息查询,营业执照,联系方式,企业信用信息公示,统一社会信用代码,股东,注册号,注册地址,法人代表,经营范围,企业类型,注册资本,成立时间。"/>
    <link rel="alternate" media="only screen and(max-width: 640px)" href="https://m.ubaike.cn/show_218835.html">
    <meta name="mobile-agent" content="format=html5;url=https://m.ubaike.cn/show_218835.html"/>
    <meta name="mobile-agent" content="format=xhtml;url=https://m.ubaike.cn/show_218835.html"/>
    <link rel="stylesheet" media="all" href="//www.ubaike.cn/static/css/common/animate.min.css"/>
    <link href="//www.ubaike.cn/static/css/dist/css/zui.min.css" rel="stylesheet">
    <link rel="stylesheet" media="all" href="//www.ubaike.cn/static/css/bianping/css/zhongchou.css"/>
    <link rel="stylesheet" media="all" href="//www.ubaike.cn/static/css/bianping/css/common.css?w=6"/>
    <link rel="stylesheet" href="//www.ubaike.cn/static/css/bianping/css/leftmenu.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="//www.ubaike.cn/static/css/bianping/css/whatsns.css?v=2" media="screen"
          type="text/css">
    <link rel="stylesheet" media="all" href="//www.ubaike.cn/static/css/bianping/css/custom.css?w=2"/>
    <link href="//www.ubaike.cn/static/css/static/css/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" media="all" href="//www.ubaike.cn/static/css/bianping/css/detail.css?w=12"/>
    <script src="//www.ubaike.cn/static/js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="//www.ubaike.cn/static/js/ie.js" type="text/javascript"></script>
    <!-- ZUI Javascript组件 -->
    <script src="//www.ubaike.cn/static/css/dist/js/zui.min.js" type="text/javascript"></script>
    <script src="//www.ubaike.cn/static/css/bianping/js/common.js?v=2" type="text/javascript"></script>
    <script src="//www.ubaike.cn/static/js/jquery.qrcode.min.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="//www.ubaike.cn/static/css/dist/lib/ieonly/html5shiv.js" type="text/javascript"></script>
    <script src="//www.ubaike.cn/static/css/dist/lib/ieonly/respond.js" type="text/javascript"></script>
    <![endif]-->

    <script type="text/javascript">
        var g_site_url = "https://www.ubaike.cn/";
        var g_site_name = "红盾查询网";
        var g_prefix = "";
        var g_suffix = ".html";
        var g_uid = 0;
        var qid = 0;
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://ziyuan.baidu.com/contexts/cambrian.jsonld",
            "@id": "https://www.ubaike.cn/show_218835.html",
            "title": "上饶市通暖企业管理有限公司_工商注册信息_红盾查询网",
            "description": "红盾查询网提供上饶市通暖企业管理有限公司工商注册信息查询,营业执照,联系方式,企业信用信息公示,统一社会信用代码,股东,注册号,注册地址,法人代表,经营范围,企业类型,注册资本,成立时间。",
            "pubDate": "2018-09-19T16:29:23"
        }

    </script>
</head>
<body class="wshui">
<!--顶部logo和登录信息-->
<div class="searchbox clearfix">
    <div class="backinner clearfix">
        <div class="inner clearfix">
            <div class="logo-box clearfix">
                <a href="/" class="logo-link">
                    <img src="//www.ubaike.cn/data/attach/logo/logo.png" class="logo-link">
                </a>
            </div>
            <nav class="widget-tag-nav clearfix">
                <a href="/" title="首页" class="tag-item"><span>首页</span></a>
                <a href="expert/" title="咨询" class="tag-item"><span>咨询</span></a>
                <a href="topic/" title="企业" class="tag-item"><span>企业</span></a>
                <a href="new/" title="问答" class="tag-item"><span>问答</span></a>
                <span class="le help" id="more">更多
    <ul class="expandedPanel" id="siteNavPart2">
      <li><a href="class_1.html">北京</a></li>
      <li><a href="class_4.html">天津</a></li>
  <li><a href="class_3.html">上海</a></li>
      <li><a href="class_6.html">重庆</a></li>
  <li><a href="class_15.html">河北</a></li>
      <li><a href="class_8.html">福建</a></li>

      <li><a href="class_26.html">山西</a></li>
      <li><a href="class_22.html">内蒙古</a></li>
  <li><a href="class_21.html">辽宁</a></li>
      <li><a href="class_19.html">吉林</a></li>
  <li><a href="class_16.html">黑龙江</a></li>
      <li><a href="class_9.html">江苏</a></li>

      <li><a href="class_2.html">浙江</a></li>
      <li><a href="class_10.html">安徽</a></li>
  <li><a href="class_20.html">江西</a></li>
      <li><a href="class_25.html">山东</a></li>
  <li><a href="class_14.html">河南</a></li>
      <li><a href="class_17.html">湖北</a></li>

      <li><a href="class_18.html">湖南</a></li>
      <li><a href="class_7.html">广东</a></li>
  <li><a href="class_11.html">广西</a></li>
      <li><a href="class_12.html">海南</a></li>
  <li><a href="class_13.html">贵州</a></li>
      <li><a href="class_28.html">云南</a></li>

      <li><a href="class_32.html">西藏</a></li>
      <li><a href="class_27.html">陕西</a></li>
  <li><a href="class_30.html">甘肃</a></li>
      <li><a href="class_24.html">青海</a></li>
  <li><a href="class_23.html">宁夏</a></li>
      <li><a href="class_31.html">新疆</a></li>

    </ul>
    </span>
            </nav>
            <script>
                $(function () {
                    $("#more").hover(function () {
                        $(this).find("ul").show();
                    }, function () {
                        $(this).find("ul").hide();
                    })
                })
            </script>
            <div class="searchtext search clearfix">
                <form target="_blank" name="searchform" action="https://www.ubaike.cn/question/search.html"
                      method="post" accept-charset="UTF-8">
                    <input name="utf8" type="hidden" value="✓">
                    <input type="text" tabindex="1" name="word" id="search-kw" value="" placeholder="请输入企业名称…"
                           class="search-input s_input">
                    <a class="search-btn" href="javascript:void(null)" target="_self">
                        <button type="submit" class="btnup pull-right">
                            <i class="fa fa-search"></i>
                        </button>
                    </a>
                </form>
            </div>
            <div class="tiwen">
                <a class="write-btn" target="_blank" href="https://www.ubaike.cn/question/add.html"
                   rel="nofollow">提问</a>
            </div>
            <nav class="ws_text_login_reg serach-nav">
 <span class="lin52">
        <a href="https://www.ubaike.cn/user/login.html" class="linklogin" rel="nofollow">
            登录
        </a>
    <a href="https://www.ubaike.cn/user/register.html" class="linkreg" rel="nofollow">
        注册
    </a>
 </span>
            </nav>
        </div>
    </div>
</div>
<div class="h60"></div>
<div class="hcenter">
    <script language="javascript">news_center_01();</script>
</div>
<div class="container index">
    <div class="row">
        <div class="col-xs-17 main">
            <div class="dh">
                <a href="//www.ubaike.cn/">首页</a> > <a href="class_20.html" data-toggle="tooltip" data-html="true"
                                                       data-original-title="所属省份"><span>江西</span></a> > <a
                    href="class_212.html" data-toggle="tooltip" data-html="true"
                    data-original-title="所属城市"><span>上饶</span></a>
            </div>
            <div class="note">
                <div class="post">
                    <div class="article">
                        <h1 class="title">上饶市通暖企业管理有限公司</h1>
                        <!-- 作者区域 -->
                        <div id='author-area'>
                            <div class="author">
                                <a class="avatar" href="https://www.ubaike.cn/u-43262.html" rel="nofollow">
                                    <img src="//www.ubaike.cn/data/avatar/000/04/32/small_000043262.jpg">
                                </a>
                                <div class="info">
                                    <span class="name"><a href="https://www.ubaike.cn/u-43262.html"
                                                          rel="nofollow">易信查询</a></span>
                                    <!-- 关注用户按钮 -->
                                    <a class="btn btn-success follow" id="attenttouser_43262"
                                       onclick="attentto_user(43262)"><i class="fa fa-plus"></i><span>关注</span></a>
                                    <!-- 文章数据信息 -->
                                    <div class="meta">
                                        <!-- 如果文章更新时间大于发布时间，那么使用 tooltip 显示更新时间 -->
                                        <span class="publish-time" data-toggle="tooltip" data-placement="bottom"
                                              title="" data-original-title="最后编辑于 2018-09-19 16:29:23">更新时间：2018-09-19 16:29:23</span>
                                    </div>
                                </div>
                                <a href="//www.ubaike.cn/inform/add.html" class="edit">更新 <i
                                        class="fa fa-angle-down mar-lr-05"></i> </a>
                            </div>
                        </div>
                        <!-- 作者区域结束-->
                        <!-- 文章内容 -->
                        <div class="show-content art-content">
                            <p>
                                <b>工商基本信息</b>
                            </p>
                            <p>
                                <span class="hdtit">统一社会信用代码：</span>
                                <span class="hdinfo">91361102MA38533Q75</span>
                            </p>
                            <p><span class="hdtit">纳税人识别号：</span><span class="hdinfo">91361102MA38533Q75</span></p>
                            <p><span class="hdtit">注册号：</span><span class="hdinfo">361102210127823</span></p>
                            <p><span class="hdtit">机构代码：</span><span class="hdinfo">MA38533Q7</span></p>
                            <p><span class="hdtit">名称：</span><span class="hdinfo">上饶市通暖企业管理有限公司</span></p>
                            <p><span class="hdtit">法定代表人：</span><span class="hdinfo">黄运通</span></p>
                            <p><span class="hdtit">企业类型：</span><span class="hdinfo">有限责任公司(自然人投资或控股)</span></p>
                            <p><span class="hdtit">经营状态：</span><span class="hdinfo">存续</span></p>
                            <p><span class="hdtit">注册资本：</span><span class="hdinfo">100(万人民币)</span></p>
                            <p><span class="hdtit">成立日期：</span><span class="hdinfo">2018-09-19</span></p>
                            <p><span class="hdtit">登记机关：</span><span class="hdinfo">上饶市信州区市场和质量监督管理局</span></p>
                            <p><span class="hdtit">经营期限：</span><span class="hdinfo">2018-09-19 至 2068-09-18</span></p>
                            <p><span class="hdtit">所属地区：</span><span class="hdinfo">信州区</span></p>
                            <p><span class="hdtit">核准日期：</span><span class="hdinfo">2018-09-19</span></p>
                            <p><span class="hdtit">企业地址：</span><span class="hdinfo">江西省上饶市信州区中山路1号金洋帆大厦23楼2305室</span>
                            </p>
                            <p><span class="hdtit">经营范围：</span><span class="hdinfo">企业管理及信息咨询服务；企业营销策划；市场营销策划；企业形象策划；影视信息咨询服务；游戏、图文、动漫设计、制作；舞台艺术造型策划；庆典礼仪策划；艺人经纪代理服务；互联网信息咨询服务；计算机软件开发、销售；从事计算机科技、网络科技、信息科技领域内的技术开发、技术咨询、技术服务、技术转让、技术推广；设计、制作、发布、代理国内外各类广告；组织文化艺术交流活动。(依法须经批准的项目,经相关部门批准后方可开展经营活动)*</span>
                            </p>
                            <hr/>
                            <p><b>股东信息</b></p>
                            <pclass
                            ="nodata3"style="display:;">没有查找到相关的信息</p></div>
                        <div class="show-foot">
                            <div class="share-group">
                                <span>分享到：</span>
                                <a class="share-circle share-weixin" data-action="weixin-share" data-toggle="tooltip"
                                   data-original-title="分享到微信">
                                    <i class="fa fa-wechat"></i>
                                </a>
                                <a class="share-circle" data-toggle="tooltip" rel="nofollow"
                                   href="javascript:void((function(s,d,e,r,l,p,t,z,c){var%20f='http://v.t.sina.com.cn/share/share.php?appkey=160116194',u=z||d.location,p=['&url=',e(u),'&title=',e(t||d.title),'&source=',e(r),'&sourceUrl=',e(l),'&content=',c||'gb2312','&pic=',e(p||'')].join('');function%20a(){if(!window.open([f,p].join(''),'mb',['toolbar=0,status=0,resizable=1,width=440,height=430,left=',(s.width-440)/2,',top=',(s.height-430)/2].join('')))u.href=[f,p].join('');};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else%20a();})(screen,document,encodeURIComponent,'','','https:', '上饶市通暖企业管理有限公司','https://www.ubaike.cn/show_218835.html','页面编码gb2312|utf-8默认gb2312'));"
                                   data-original-title="分享到微博">
                                    <i class="fa fa-weibo"></i>
                                </a>
                                <script type="text/javascript">document.write(['<a class="share-circle" data-toggle="tooltip"  target="_self" data-original-title="分享到qq空间" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=', encodeURIComponent(location.href), '&title=', encodeURIComponent(document.title), '" target="_self"   title="分享到QQ空间"> <i class="fa fa-qq"></i></a>'].join(''));</script>
                            </div>
                            <div class="modal-wrap" data-report-note="">
                                <a href="mailto:admin@ubaike.cn" rel="nofollow">举报</a>
                            </div>
                            <div class="modal-wrap" data-report-note="">
                                <a href="https://www.ubaike.cn/favorite/topicadd/218835.html" rel="nofollow">收藏(0)</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div id="comment-list" class="comment-list">
                            <div>
                                <div id='after_login'>
                                    <form class="new-comment"><a class="avatar"><img
                                            src="https://www.ubaike.cn//static/css/default/avatar.gif"></a>
                                        <div class="sign-container"><a href="https://www.ubaike.cn/user/login.html"
                                                                       class="btn btn-sign" rel="nofollow">登录</a> <span>评论一下</span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="side-tool">
                    <ul>
                        <li data-placement="left" data-toggle="tooltip" data-container="body"
                            data-original-title="回到顶部">
                            <a href="#" class="function-button"><i class="fa fa-angle-up"></i></a>
                        </li>
                        <li data-placement="left" data-toggle="tooltip" data-container="body"
                            data-original-title="收藏企业"><a rel="nofollow"
                                                          href="https://www.ubaike.cn/favorite/topicadd/218835.html"
                                                          class="function-button" rel="nofollow"><i
                                class="fa fa-star"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-7 aside ">
            <div class="recommend listtit">
                <h4>
                    <span>最新查询</span>
                </h4>
                <ul class="list mrtop12">
                    <li><a class="li-a-title" target="_self" href="show_227101.html" title="正阳县坤晟商贸有限责任公司艳阳天名烟名酒名茶行">正阳县坤晟商贸有限责任公司艳阳天名烟名酒名茶行</a>
                    </li>
                    <li><a class="li-a-title" target="_self" href="show_227045.html"
                           title="承德市营发货物运输有限公司">承德市营发货物运输有限公司</a></li>
                    <li><a class="li-a-title" target="_self" href="show_227019.html"
                           title="滑县长宏农业科技有限公司">滑县长宏农业科技有限公司</a></li>
                    <li><a class="li-a-title" target="_self" href="show_227007.html" title="温州爱牙故事医疗投资管理有限公司">温州爱牙故事医疗投资管理有限公司</a>
                    </li>
                    <li><a class="li-a-title" target="_self" href="show_226991.html" title="福鼎市起亭服饰有限公司">福鼎市起亭服饰有限公司</a>
                    </li>
                    <li><a class="li-a-title" target="_self" href="show_226975.html" title="鸿宇世绿(天津)生物药业有限公司">鸿宇世绿(天津)生物药业有限公司</a>
                    </li>
                    <li><a class="li-a-title" target="_self" href="show_226964.html"
                           title="无锡中红环宇装饰有限公司">无锡中红环宇装饰有限公司</a></li>
                    <li><a class="li-a-title" target="_self" href="show_226956.html" title="四川仁湖建筑工程有限公司城口分公司">四川仁湖建筑工程有限公司城口分公司</a>
                    </li>
                </ul>
            </div>
            <div class="rightad">
                <script type="text/javascript" src="//js.ubaike.cn/source/static/resource/vjxv.js?rme=iebbss"></script>
            </div>
            <div class="recommend listtit">
                <h4>
                    <span>上饶企业</span>
                </h4>
                <ul class="list mrtop12">
                    <li class="ws_art_text"><a class="li-a-title" target="_self" href="show_228929.html"
                                               title="江西隆升文化传播有限公司">江西隆升文化传播有限公司</a></li>
                    <li class="ws_art_text"><a class="li-a-title" target="_self" href="show_228928.html"
                                               title="上饶市志辉餐饮服务有限公司">上饶市志辉餐饮服务有限公司</a></li>
                    <li class="ws_art_text"><a class="li-a-title" target="_self" href="show_228927.html"
                                               title="江西晨飞科技有限公司">江西晨飞科技有限公司</a></li>
                    <li class="ws_art_text"><a class="li-a-title" target="_self" href="show_228926.html"
                                               title="江西鼎盛消防工程有限公司">江西鼎盛消防工程有限公司</a></li>
                    <li class="ws_art_text"><a class="li-a-title" target="_self" href="show_228925.html"
                                               title="上饶市胜鑫酒店管理有限公司">上饶市胜鑫酒店管理有限公司</a></li>
                    <li class="ws_art_text"><a class="li-a-title" target="_self" href="show_228924.html"
                                               title="江西贵宾人力资源有限公司">江西贵宾人力资源有限公司</a></li>
                    <li class="ws_art_text"><a class="li-a-title" target="_self" href="show_228923.html"
                                               title="上饶市海鸿酒店管理有限公司">上饶市海鸿酒店管理有限公司</a></li>
                    <li class="ws_art_text"><a class="li-a-title" target="_self" href="show_228922.html"
                                               title="江西星瑞源信息科技有限公司">江西星瑞源信息科技有限公司</a></li>
                    <li class="ws_art_text"><a class="li-a-title" target="_self" href="show_228921.html"
                                               title="德兴市兴合汽车服务有限责任公司">德兴市兴合汽车服务有限责任公司</a></li>
                    <li class="ws_art_text"><a class="li-a-title" target="_self" href="show_228920.html"
                                               title="上饶市九乾体育文化发展有限公司">上饶市九乾体育文化发展有限公司</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 举报 -->
<div class="modal share-wechat animated" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close">×</button>
            </div>
            <div class="modal-body"><h5>打开微信“扫一扫”，打开网页后点击屏幕右上角分享按钮</h5>
                <div data-url="https://www.ubaike.cn/show_218835.html" class="qrcode"
                     title="https://www.ubaike.cn/show_218835.html">
                    <canvas width="170" height="170" style="display: none;"></canvas>
                    <div id="qr_wxcode">
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<script src="//www.ubaike.cn/static/ckplayer/ckplayer.js" type="text/javascript"></script>
<script src="//www.ubaike.cn/static/ckplayer/video.js" type="text/javascript"></script>
<script>

    //顶部异步登录
    function checkLogin() {
        $.ajax({
            url: "//www.ubaike.cn/index.php?Index/checkuserlogin",
            cache: false,
            success: function (data) {
                console.log(data);
                if (data != 1) {
                    $('.ws_text_login_reg').html(data);
                    load_message_sowenda();
                }
            }
        });
    }

    checkLogin();
    //重写个人中心鼠标效果
    $('.ws_text_login_reg').on('mouseover', '.trigger_dropdown', function () {
        console.log('mouseover');
        $('#dropmenuList').css('display', 'block');
    });
    $('body').on('mouseover', '.container', function () {
        $('#dropmenuList').css('display', 'none');
    });

    $('.ws_text_login_reg').on('mouseout', '.trigger_dropdown', function (e) {
        console.log(e.pageX)
        if (e.pageX > 1500) {
            $('#dropmenuList').css('display', 'none');
        }
    });
    $('.ws_text_login_reg').on('mouseleave', '#dropmenuList', function (e) {
        $('#dropmenuList').css('display', 'none');
    });

    //作者区域
    function checkLoginauthor() {
        var topic_id = 218835;
        $.ajax({
            url: "//www.ubaike.cn/index.php?Topic/checkuserloginauthor",
            cache: false,
            data: {
                'topic_id': topic_id
            },
            type: 'POST',
            success: function (result) {
                console.log(result);
                if (result != 1) {
                    $('#author-area').html(result);
                }
            }
        });
    }

    checkLoginauthor();

    function getlikes() {
        var topic_id = 218835;
        $.ajax({
            url: "//www.ubaike.cn/index.php?Topic/getlikes",
            data: {
                'topic_id': topic_id
            },
            type: 'POST',
            cache: false,
            success: function (data) {
                console.log(data);

                $('#likes').html(data);


            }
        });
    }

    getlikes();

    function getguid() {
        $.ajax({
            url: "//www.ubaike.cn/index.php?Topic/getguid",
            type: 'POST',
            cache: false,
            success: function (data) {
                console.log(data);

                window.g_uid = data;


            }
        });
    }

    getguid();

    //登录后评论
    function afterlogin() {
        var topic_id = 218835;
        $.ajax({
            url: "//www.ubaike.cn/index.php?Topic/afterlogin",
            cache: false,
            data: {
                'topic_id': topic_id
            },
            type: 'POST',
            success: function (result) {
                console.log(result);
                if (result != 1) {
                    $('#after_login').html(result);
                }
            }
        });
    }

    afterlogin();

    //投诉
    function openinform(qid, qtitle, aid) {
        $("#myqid").val(qid);
        $("#myqtitle").val(qtitle);
        $("#myaid").val(aid);
        $('#dialog_inform').modal('show');

    }

    $(".art-content img").addClass("lazy");


    $(".art-content img").each(function () {
        var _src = $(this).attr("src");
        $(this).attr("data-original", _src);

    })

    if (typeof($(".art-content").find("img").attr("data-original")) != "undefined") {
        var imgurl = $(".art-content").find("img").attr("data-original");
//	$(".art-content").find("img").attr("src",imgurl);
    }
    $(".art-content").find("img").attr("data-toggle", "lightbox");

    function deletewenzhang(current_aid) {
        window.location.href = g_site_url + "index.php" + query + "topic/deletearticlecomment/" + current_aid + "/218835";

    }

    $(function () {

//微信二维码生成
        $('#qr_wxcode').qrcode("https://www.ubaike.cn/show_218835.html");
        //显示微信二维码
        $(".share-weixin").click(function () {
            $(".share-wechat").show();
        });
        //关闭微信二维码
        $(".close").click(function () {
            $(".share-wechat").hide();
        })
    })
    $("#c-con").on('click', '.button_agree', function () {
        var supportobj = $(this);
        var tid = $(this).attr("id");
        $.ajax({
            type: "GET",
            url: "//www.ubaike.cn/index.php?topic/ajaxhassupport/" + tid,
            cache: false,
            success: function (hassupport) {
                if (hassupport != '1') {
                    $.ajax({
                        type: "GET",
                        cache: false,
                        url: "//www.ubaike.cn/index.php?topic/ajaxaddsupport/" + tid,
                        success: function (comments) {

                            supportobj.find("span").html(comments + "人赞");
                        }
                    });
                } else {
                    alert("您已经赞过");
                }
            }
        });
    });
    GetComments(1);

    function GetComments(page) {
        $("#c-con .pages").remove();
        var topic_id = 218835;
        $.ajax({
            url: 'index.php?topic/gettopiccomments',
            data: {
                'tid': topic_id,
                'page': page
            },
            type: 'POST',
            dataType: 'text',
            success: function (result) {
                console.log(result);

                $('#c-con').append(result);


            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus);
            }
        });
    }

    $(function () {
        $("#more").hover(function () {
            $(this).find("ul").show();
        }, function () {
            $(this).find("ul").hide();
        })
    })
</script>

</div>
<script src="//www.ubaike.cn/static/js/jquery.lazyload.min.js" type="text/javascript"></script>
<script>
    $(".note-list")
    $(".note-list img").addClass("lazy");
    $(".note-list img").each(function () {
        var _src = $(this).attr("src");
        $(this).attr("data-original", _src);
    })
    $("img.lazy").lazyload({effect: "fadeIn"});
</script>
<div class="display:none;">
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?373863c10d213ef78db501916c4d69d1";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</div>
<div class="side-tool" id="to_top">
    <ul>
        <li data-placement="left" data-toggle="tooltip" data-container="body" data-original-title="回到顶部">
            <a href="#" class="function-button"><i class="fa fa-angle-up"></i></a>
        </li>
    </ul>
</div>
<script>
    window.onload = function () {
        var oTop = document.getElementById("to_top");
        var screenw = document.documentElement.clientWidth || document.body.clientWidth;
        var screenh = document.documentElement.clientHeight || document.body.clientHeight;
        window.onscroll = function () {
            var scrolltop = document.documentElement.scrollTop || document.body.scrollTop;

            if (scrolltop <= screenh) {
                oTop.style.display = "none";
            } else {
                oTop.style.display = "block";
            }
        }
        oTop.onclick = function () {
            document.documentElement.scrollTop = document.body.scrollTop = 0;
        }
    }

</script>
<div class="ws_footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-20">
                <p class="copyright">
                    <a href="https://www.ubaike.cn/city_3.html" target="_blank" rel="nofollow" class="cy">联系我们</a> -
                    &nbsp;<a href="https://www.ubaike.cn/city_4.html" target="_blank" rel="nofollow" class="cy">用户协议</a>
                    -
                    &nbsp;<a href="https://www.ubaike.cn/city_5.html" target="_blank" rel="nofollow"
                             class="cy">用户隐私权</a> -
                    &nbsp;<a href="https://www.ubaike.cn/city_7.html" target="_blank" rel="nofollow" class="cy">友情链接</a>
                    -
                    &nbsp;<a href="https://www.ubaike.cn/city_6.html" target="_blank" rel="nofollow" class="cy">关于我们</a>
                    -
                    &nbsp;<a href="https://www.ubaike.cn/city_8.html" target="_blank" rel="nofollow" class="cy">用户帮助</a>
                    -
                    &nbsp;<a href="https://www.ubaike.cn/city_11.html" target="_blank" rel="nofollow"
                             class="cy">网站律师</a> -
                    &nbsp;<a href="https://www.ubaike.cn/report.html" class="cy">年报申报</a>
                </p>
                <p class="copyright">
                    声明：本网站为公益性非官方查询帮助平台，所刊载的信息均为企业公示的工商注册信息。
                </p>
                <p class="copyright">
                    <span>闽ICP备08105781号</span><span>闽公网安备35010302000107号</span><span>技术支持：WhatSns</span>
                </p>
            </div>
            <div class="col-xs-4">
                <div class="ws_qrcode">
                    <img src="https://www.ubaike.cn/data/attach/logo/wxlogo.jpg">
                </div>
                <p class="text-center">关注微信公众号</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>